body {
  font-family: 'Graduate', cursive !important;

}

.row1 {
  height: 60vh !important;
  position: relative;

}

.eventCard {
  position: absolute;
  height: 100%;
  padding: 20px;
  margin-top: -0.5px;
  width: 48%;
  display: inline-block;

}

#addHostEventBtn {
  position: absolute;
  clear: both;
}

/* .btnContainer {
  position: relative;
} */

#deleteEventBtn {
  margin-left: -20px;
  position: absolute;


}



.cardBtn {
  position: relative;
  display: inline-block;

}

.mapContainer {
  position: relative;
  height: 100% !important;
}

.map {
  position: absolute !important;
  height: 100%;
  width: 100% !important;
  float: right;
  margin-top: 5px;
  bottom: 0 !important;
}

div.card-panel {
  background-color: #E8E8E1;
}

#eventTitle {
  font-size: 36px;
  font-weight: bolder;
}

#hostImage{
  width: 40px;
  height: 40px;
  margin-right: 5px;
}






/* #mapLocation > div > div > div {
  height: 47% !important;
  width: 35% !important;
}

.host {
  display: inline-block;
  margin-right: 5px;
}

  #map {
    height: 300px;
    width: 300px;
    border: solid 1px black;
  }

  body{
    background-color: rgb(217, 250, 239);
  }


  #topSection {
    height: 350px;
    background-color: rgb(171, 248, 221);
    border-radius: 10px;
    box-shadow: 1px 2px 4px rgba(143, 143, 143, 0.5);
  }

  .attendee {
    width: 80px;
    height: 120px;
    border: solid 1px rgb(214, 213, 213);
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    background-color: white;
  }

  .attendee p{
    margin-top: 3px;
    margin-bottom: 0;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 80px;
    padding: 5px;
  }

  .image {
    height: 75px;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
  }

  #messageBoard{
    height: 400px;
    border: solid 2px rgb(146, 146, 146);
    background-color: white;
    margin-bottom: 100px;
    position: relative;
    border-radius: 5px;
  }

  ul{
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
  }

  #messageSubmit{
    position: absolute;
    border-top: solid 2px rgb(146, 146, 146);
    bottom: 0;
    width: 100%;
  }

  textarea{
    width: 95%;
    height: 40px;
    margin-bottom: -10px;
    background-color: transparent;
    outline: none;
    vertical-align: middle;
    border: none;
    resize: none;
  }

  button{
    height: 40px;
    border-radius: 5px;
    margin: 5px 0;
  }

  .message {
    background-color: rgb(240, 239, 239);
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 20px;
    margin-left: 10px;
    word-break: break-word;

  }

  .messageImg{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 3px;
    margin-bottom: 5px;
  }

  #join{
    float: none;
  }

  .messageBody{
    display: inline-block;
    line-height: 0;
    padding-left: 10px;
    margin-bottom: 20px;
  }

  .usernameMessage{
    line-height: 40px;
    vertical-align: top;
    font-weight: bold;
  }

  #hostImage{
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }

  #hostName{
    font-size: 20px;
    line-height: 40px;
    vertical-align: top;
  }

  #topSection p{
    vertical-align: top;
    display: inline;
  }

  #topSection i{
    margin-right: 5px;
  }

  .collection-item button{
    float: right;
  }

  #topButtons div{
    display: inline-block !important;
    margin-right: 10px;
  } */


