.Slider {
    height: 75vh !important;
    width: auto !important;
    margin-top: -20px !important;
    margin-right: -20px !important;
    margin-left: -20px !important;
   
    
  
  }
  
  .slider .slides {
    height: 75vh !important;
   
  }
  
  h3 {
      font-family: 'Graduate', cursive;
      color: #E8E8E1;
      float: left;
      font-size: 35px;
      height: 40vh;
      line-height: 40vh;
      vertical-align: middle;
      text-transform: uppercase;
  }
  
  .slides li img {
    background-attachment: fixed;
    -webkit-filter: brightness(40%);
  }