.Slider {
  height: 90vh !important;
  width: auto !important;
  margin-top: -20px !important;
  margin-right: -20px !important;
  margin-left: -20px !important;

}

.slider .slides {
  height: 90vh !important;
}

h3 {
    font-family: 'Graduate', cursive;
    color: #E8E8E1;
    float: left;
}

.slides li img {
  background-attachment: fixed;
}