.header{
    background-color: #B4302B;
    height: 100px;
    margin-bottom: 20px;
    width: 100%;
}

#logo{
    color: #E8E8E1;
    font-family: 'Black Ops One', cursive;
    font-size: 48px;
    line-height: 100px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

#createBtn {
    margin-top: 30px;
    background-color: rgb(182, 3, 3);
    border-radius: 5px;
}

#createBtn:hover {
    background-color: rgb(231, 7, 7);
}
#profilePic{
    height: 60px;
    width: 60px;
    background-color: #E8E8E1;
    margin-top: 20px;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(66, 66, 66, 0.2), 0 6px 20px 0 rgba(58, 57, 57, 0.05);
}

#profilePic:hover{
    -webkit-filter: brightness(70%);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

ul.dropdown-content {
    position: relative;
    /* margin-left:70.6%; */
    margin-top: 15px;
    width: 200px!important;
    height: 150px;
}

.dropdown {
    height: 300px;
}

#userName {
    display: inline-block;
    vertical-align: top;
    font-size: 28px;
    color: white;
}

