.header{
    background-color: rgb(223, 9, 2) !important;
    height: 100px;
    margin-bottom: 20px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    
}

.logoDiv {
    text-align: right;
}
.rightItems {
    text-align: right;
}

#login {
    font-family: 'Open Sans', sans-serif;
}

#signup {
    font-family: 'Open Sans', sans-serif;
}

Modal {
    display: inline-block;
}

#logo{
    color: rgb(241, 241, 240);
    font-family: 'Black Ops One', cursive;
    font-size: 48px;
    line-height: 100px;
    vertical-align: middle;
    text-align: right;
    text-decoration: none;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#createBtn {
    background-color: rgb(241, 241, 240);
    border-radius: 5px;
    color: black;
    font-weight: bolder;
    width: auto;
    display: inline-block;
    vertical-align: middle !important;
    margin-left: 60px;
    margin-bottom: 50px;
}

#createBtn:hover {
    background-color: #2D3047;
    color: white;
}
#profilePic{
    height: 60px;
    width: 60px;
    margin-left: 5px;
    background-color: #E8E8E1;
    margin-top: 20px;
    margin-right: 15px;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(66, 66, 66, 0.2), 0 6px 20px 0 rgba(58, 57, 57, 0.05);
    display: inline-block;
    margin-left: 60px;

}

#profilePic:hover{
    -webkit-filter: brightness(70%);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

ul.dropdown-content {
    position: relative;
    /* margin-left:70.6%; */
    margin-top: 15px;
    width: 200px!important;
    height: 150px;
}

.dropdown {
    height: 300px;
}

#userName {
    display: inline-block;
    font-size: 20px;
    color: white;
    margin-right: 25px;
    text-align: center;
    width: auto;
    display: inline-block;
    vertical-align: middle !important;
    margin-left: 0;
    margin-bottom: 50px;
}

