.header{
    background-color: #B4302B;
    height: 100px;
    margin-bottom: 20px;
}

#logo{
    color: #E8E8E1;
    font-family: 'Black Ops One', cursive;
    font-size: 250%;
    line-height: 100px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
}

#profilePic{
    height: 60px;
    width: 60px;
    background-color: #E8E8E1;
    margin-top: 20px;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(66, 66, 66, 0.2), 0 6px 20px 0 rgba(58, 57, 57, 0.05);
}

#profilePic:hover{
    -webkit-filter: brightness(70%);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

ul.dropdown-content {
 
    margin-top:81px;
    width:150px !important;
 
}
 
#dropDownMenu{
    position: absolute;
    margin-left:85%; 
}