.submitBtn2{
    margin-left: 42%;
    margin-bottom: 15px;
}

#password{
    margin-top: 25px;
    width: 230px;
   
}

#username{
    margin-top: 25px;
    width: 230px;
    margin-left: 15px;
}

#login {

    color: #E8E8E1;
    font-family: 'Black Ops One', cursive;
    font-size: 20px;
    line-height: 97px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    margin-left: 65px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#login:hover {
    background-color: #2D3047;
    padding: 10px;
    border-radius: 10px !important;
}

#CheckboxInput{
    margin-left: 15px;
    margin-bottom: -25px;
    
}

#loginForm{
    margin-top:25px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 6px 2px #ccc;
    font-family: 'Times New Roman', Times, serif;
}

#span1 {
    color: #E8E8E1;
}