#loginForm{
    position: relative;
    border: 1px solid gray;
    box-shadow: dimgrey;
    
    margin-left: 30%;
    margin-right: 30%;
    margin-top:150px;
 
}

.btn{
    margin-left: 42%;
    margin-bottom: 5px;
}